body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(247, 217, 51);
}

footer {
    background-color: rgb(53, 53, 53);
    color: #fff;
}

footer h5 {
    color: yellow;
}

.ftr-end {
    background-color: rgb(27, 27, 27);
    color: #fff;
}

span {
    color: rgb(209, 15, 15);
}

.rowcss {
    width: 50%;
}

.coursesimg img {
    margin-left: 150px;
}

.carousel-item {
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}

@media (max-width:720px) {
    footer {
        margin-top: 100px;
    }
    .imgStudent img {
        margin-left: -70px;
    }
    .rowcss {
        width: 100%;
    }
    .coursesimg img {
        margin-left: -30px;
    }
    .carousel-item {
        width: 80%;
    }
}